.recommendation-container {
    padding: 100px 20px;
    text-align: center;
  }
  
  .recommendation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .recommendation-card {
    width: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .recommendation-card:hover {
    transform: scale(1.05);
  }
  
  .recommendation-card img {
    width: 100%;
    border-radius: 10px;
  }
  